<h2 class="text-center revenue-list">Revenues </h2>


<table class="table table-striped">
  <tr>
    <th>Description</th>
    <th>Amount</th>
    <th>Tipology</th>
  </tr>

  <% @revenues.each do |revenue| %>
    <tr>
      <td><%= revenue.description %></td>
      <td><%= revenue.amount %></td>
      <td><%= revenue.typology %></td>
    </tr>
  <% end %>
</table>
