<!DOCTYPE html>
<html>
  <head>
    <title>SsfAccounts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <a class="navbar-brand" href="">
          <img class="logo alt="Brand" src="http://www.sportsenzafrontiere.it/wp-content/themes/ssf/images/icons/sport-senza-frontiere.png">
        </a>
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Costs</a></li>
          <li><a href="#">Revenues</a></li>
        </ul>
        </nav>
      <%= yield %>
      </div>
  </body>
</html>
